---
title: 11ty Boilerplate
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/styles/screen.css">
  <script src="//unpkg.com/alpinejs" defer></script>
</head>
<body>
<div class="data" x-data="{ open: false, names: ['Ally', 'Emily', 'Alissa', 'Romina', 'Carson', 'Ben', 'Neth', 'Tate', 'Dom', 'Oliver'], RandomName: '' }">
  <h2 class="instruction">Click the button below to display a random name from a list of 10</h2>
  <button  class="button" @click="open = true; RandomName = names[Math.floor(Math.random() * names.length)]">Generate Random Name</button>
 
  <h1 class="random-name" x-show="open" x-text="RandomName"></h1>
</div>  
  {{ content }}
</body>
</html>